.body{
    background-color: rgb(27, 28, 61);
}
button{
    margin: 20px;
}
.drum{
    width: 100%;
    height: 5rem;
    margin: 1rem;
}
.text{
    text-align: center;
    margin: 2% 0 3%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 3.5rem;
}
.row{
    padding: 0 3%;
}
#stop{
    width: 30%;
    height: 10%;
}
.a{
    background-image: url("images/math.png");
}
.pressed{
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.1;
}